@model BlogDapper.Models.Usuario

@{

    ViewData["Title"] = "Acceso Usuario";
}

<div class="container">
    <div class="row bg-light border p-5">
        <div class="col-6">
            <form asp-action="UserLogin" method="POST">
                <h1 class="text-center text-secondary mt-4">Acceso Usuarios</h1>   

                    @if (TempData["mensajeConfirmacion"] != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>@TempData["mensajeConfirmacion"]</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" placeholder="Ingresa el usuario"/>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Ingresa la contraseña" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                  <button type="submit" class="btn btn-default btn-primary w-100"><i class="bi bi-box-arrow-in-right"></i>Acceder</button>
                </div>

            </form>
        </div>
        <div class="6">
            <img src="" class="img-fluid imgimg-thumbnail" alt="Ingreso de usuarios">
        </div>
    </div>
</div>