<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogDapper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogDapper.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Inicio" asp-action="Index"><img src="~/imagenes/Blog1.png" width="40px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Front" asp-controller="Inicio" asp-action="Index">Inicio</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Categorias" asp-action="Index"><i class="bi bi-bookmark-check-fill"></i>Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Articulos" asp-action="Index"><i class="bi bi-sticky-fill"></i>Articulos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Comentarios" asp-action="Index"><i class="bi bi-chat-left-dots-fill"></i>Comentarios</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Etiquetas" asp-action="Index"><i class="bi bi-tags-fill"></i>Etiquetas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Etiquetas" asp-action="GetArticuloConEtiquetas"><i class="bi bi-archive-fill"></i>Articulos Etiquetas</a>
                            </li>
                        }
                    </ul>
                      
                        @if(User.Identity.IsAuthenticated){
                        <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form class="form-check-inline" asp-area="Front" asp-controller="Accesos" asp-action="Salir">
                                <button type="submit" class="nav-link btn btn-link text-white"><i class="fas fa-sign-out-alt"></i>Salir</button>
                            </form>
                        </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                               <a class="nav-link text-white" asp-area="Front" asp-controller="Accesos" asp-action="Acceso">Acceso</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Front" asp-controller="Accesos" asp-action="Registro">Registrarse</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>

        <!--**Aqui va la vista parcial para el slider**-->
        @if (ViewBag.isHome == true)
        {
            <partial name="_Slider"/>
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BlogDapper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
 
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
