@{
    ViewData["Title"] = "Lista de articulos y etiquetas";
}
<div class="row">
    <div class="col-9">
        <h1>Lista de articulos y etiquetas</h1>
    </div>
</div>
<div class="card bg-light p-3">
    <table class="table" id="tblArticuloEtiquetas">
        <thead>
            <tr>
                <th>Id Articulo</th>
                <th>Titulo Articulo</th>
                <th>Etiquetas</th>
           
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/articuloEtiquetas.js"></script>
}