@model BlogDapper.Models.Articulo

@{
    ViewData["Title"] = "Crear Articulo";
}
<h1>Crear Articulo</h1>
<hr />
<div class="row bg-light p-4">
    <div class="col-6 offset-3"></div>
    <form asp-action="Crear" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" placeholder="Ingresa el nombre de la categoria" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descripcion" class="control-label"></label>
            <textarea asp-for="Descripcion" class="form-control" style="height:300px;"></textarea>
        </div>

        <div class="form-group mt-3">
            @Html.DropDownList("CategoriaId",(SelectList)ViewBag.SelectList,
            "-Selecciona una categoría-",htmlAttributes: new{@class="form-control"})
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>


        <div class="form-group row mt-3">
          <div class="col-3">
              <label asp-for="Estado" class="control-label"></label>
          </div>
          <div class="col-5">
                <input type="checkbox" asp-for="Estado" />
                <span asp-validation-for="Estado" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
            <div class="col-4">
                <label class="control-label">Seleccionar Imagen:</label>
            </div>
            <div class="col-8">
                <input type="file" name="archivos" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
        </div>


        <div class="form btn-group row mt-4">
            <div class="col-6">
                <input type="submit" value="Crear Categoria" class="btn btn-primary form-control" />
            </div>
            <div class="col-6">
                <a asp-action="Index" class="btn btn-warning form-control">Volver a lista</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script src="https://cdn.tiny.cloud/1/qgb6gdrdp8m7tcmzog6cjkgruaqplscd8ypvmj2ze6jgq8w5/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
           tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar:'formt'

           }); 
        </script>

    }
